Source: libgooglepinyin
Priority: optional
Maintainer: IME Packaging Team <pkg-ime-devel@lists.alioth.debian.org>
Uploaders: Aron Xu <aron@debian.org>, Eleanor Chen <chenyueg@gmail.com>, 
  YunQiang Su <wzssyqa@gmail.com>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 8), cmake
Standards-Version: 3.9.2
Section: libs
Homepage: http://code.google.com/p/libgooglepinyin
Vcs-Git: git://git.debian.org/pkg-ime/libgooglepinyin.git
Vcs-Browser: http://git.debian.org/?p=pkg-ime/libgooglepinyin.git

Package: libgooglepinyin0-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libgooglepinyin0 (= ${binary:Version})
Provides: libgooglepinyin-dev
Conflicts: libgooglepinyin-dev
Description: Pinyin engine fork from Google Pinyin on Android - development files
 libgooglepinyin is a fork of Google Pinyin on Android, it features
 to have excellent input experience and uses little resource.
 .
 This package provides the library development files.

Package: libgooglepinyin0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Provides: libgooglepinyin
Description: Pinyin engine fork from Google Pinyin on Android
 libgooglepinyin is a fork of Google Pinyin on Android, it features
 to have excellent input experience and uses little resource.
 .
 This package provides the library file.

Package: libgooglepinyin0-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends}, libgooglepinyin0 (= ${binary:Version}) 
Description: Pinyin engine fork from Google Pinyin on Android - debug symbols
 libgooglepinyin is a fork of Google Pinyin on Android, it features
 to have excellent input experience and uses little resource.
 .
 This package provides the library debug symbols.
